[TYPECHECK]
# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.

# false positives (not dynamically created) in ComboBoxText
# false positives dynamically created in BaseDocument
generated-members=[gs]et_active_index,save_(djvu|hocr|image|pdf|text|tiff),(rotate|threshold|brightness_contrast|negate|unsharp|crop)
