name: Test package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y imagemagick libtiff-tools poppler-utils \
          pdftk djvulibre-bin img2pdf python3-gi python3-gi-cairo \
          gobject-introspection gir1.2-gtk-3.0 gir1.2-goocanvas-2.0 \
          python3-sane unpaper \
          tesseract-ocr-eng tesseract-ocr-deu python3-tesserocr \
          python3-pytest-cov python3-pytest-timeout python3-pytest-xvfb \
          python3-pytest-pylint python3-pytest-mock
        python -m pip install --upgrade pip
        pip install ocrmypdf pytest-black black==25.12.0 python-iso639

        # add locale, needed for a couple of tests
        sudo locale-gen de_DE.UTF-8
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Test
      run: pytest-3
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: htmlcov
